.idea/
.vscode/
*.iml
*.log
*.tsbuildinfo
.DS_Store

web/**/node_modules/
web/**/dist/
web/**/.cache/
web/**/.vite/
web/.env.local
web/.env.*.local
web/**/.env.local
web/**/.env.*.local

server/**/target/
server/.env
server/logs/
server/**/logs/
server/**/src/main/resources/application-local.yml
